
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: skyblue;
}
.profile {
    border: 1px solid  black;
    
}
.head{
    color: rgb(245, 90, 175);
}

/* .button{
    height: 2vh;
    width: 6vw;
}
.update{
    background-color: green;
}
.delete{
    background-color: red;
}
 */