*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details{
   display: flex;
   align-items: center;
   justify-content: center;
}

.profile {
   display: grid;
   grid-template-columns: repeat(2, 2fr); /* Three columns with equal width */
   grid-column-gap: 2vh; 
   grid-row-gap: 2vh;
   justify-content: center;
   align-items: center;
}

.profile > * {
   border: 1px solid white;
}

.head{
    color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Navbar-button{
    margin-left: 90vw;
    background-color: purple;
}
 body{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .create{
    border: 1vw solid white;
    height: 90vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content:center;
 }
 .create1{
    display: flex;
    justify-content: center;
 }
 .create2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 3vh;
    width: 20vw;
 }
 .add-user, .div1, .div2, .div3, .div4 ,.div5, .div6, .div7 ,.div8{
    margin-bottom: 1vh;
 }
 .add-user{
    margin-left: 7vw;
 }
 .update-user{
    margin-left: 6vw;
 }

 .create-submit{
    background-color: green;
    margin-left: 7vw;
 }

 .update{
   background-color: green;
 }
 #update{
   background-color: green;
   margin: 2vh;
}
 .delete{
   background-color: red;
 }
 .add{
   background-color: blue;
 }

 #Body-content{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: 1.5vw;

 }
 #Navbar{
   margin-bottom: 10vh;
 }
.user{
   height: 4vh;
   width: 5vw;
}
.login1{
   margin-left: 2vw;
}
.created{
   margin-right: 70vw;
   margin-top: 2vh;
}
